<div class="app">
    <h1 class="app-title">Licenta</h1>
    <div class="wrapper-btn">
        <button type="button" mat-raised-button color="primary" (click)="openMinesweeper()">Minesweeper</button>

        <button type="button" mat-raised-button color="primary" (click)="open2048()">2048</button>

        <button type="button" mat-raised-button color="primary" (click)="openWordle()">Wordle</button>

        <button *ngIf="!this.userService.userLogged == true" type="button" mat-raised-button color="warn"
            (click)="openLogin()">Login</button>

        <button *ngIf="this.userService.userLogged == true" type="button" mat-raised-button color="warn"
            (click)="logout()">Log out</button>
    </div>
</div>